* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	background: url("../images/background/background.jpg");
	background-size: cover;
	background-position: 50% 100%;
	height: 100vh;
	width: 100vw;
}

header, div {
	position: relative;
}

header {
	display: flex;
	background: #000;
	height: 6%;
	justify-content: center;
	align-items: center;
}

header img {
	position: relative;
	height: 75%;
}

#container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 55px 0;
	height: 94%;
	width: 100%;
}

#container section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	.background: rgba(255, 255, 255, 0.75);
	padding: 15px;
	.height: 80%;
}

#nav {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#content {
	width: 70%;
}

#nav ul {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#nav table {
	border-collapse: collapse;
}

#nav ul table td{
	border: 4px solid #fff;
	width: 100%;
	height: 60px;
	text-align: center;
	cursor: pointer;
}

#nav ul li {
	list-style-type: none;
}

#nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}

.active, #nav td:hover, #nav td:hover a {
	background: #fff;
	color: #000 !important;
}

#content {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#content div {
	position: relative;
	padding: 15px;
	background: rgba(255, 255, 255, 0.75);
	width: 100%;
	margin-bottom: 15px;
	border-radius: 6px;
}

#content div table {
	padding: 30px;
	width: 100%;
}

#dash_tbl th {
	text-align: left;
}

#dash_tbl td {
	text-align: center;
}

#dash_tbl td, #dash_tbl th {
	width: 10%;
}

#pay_tbl th, #pay_tbl td {
	text-align: left;
	width: 25%;
}

#pay_tbl input {
	height: 55px;
	width: 60%;
	border: none;
	.border-bottom: 2px solid #000;
	outline: none;
	.background: none;
	text-align: center;
	text-shadow: 0 0 10px #fff;
	font-size: 16px;
	border-radius: 6px;
}

#pay_tbl input::placeholder {
	color: #000;
	font-weight: 500;
}

#pay_tbl button {
	height: 55px;
	width: 55%;
	border: none;
	outline: none;
	background: #1262ea;
	border-radius: 6px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}